<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="python_path" value=""/>
    <add key="pytho_script_path" value="F:\CRAS\CRAS_Sample\alpha\src"/>
    <add key="entry_webcam" value="0"/>
    <add key="exit_webcam" value="1"/>
    <add key="billing_webcam" value="2"/>
    <add key="entry_pipe" value="webcam_feed0"/>
    <add key="exit_pipe" value="webcam_feed1"/>
    <add key="billing_pipe" value="webcam_feed2"/>
    <add key="localDb"  value="MongoDB"/>
    <add key="mongo_connection_string" value="mongodb+srv://"/>
    <add key="mongo_username" value="debug"/>
    <add key="mongo_password" value="debug"/>
  </appSettings>
</configuration>