<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net461" />
  <package id="Avalonia" version="11.0.5" targetFramework="net461" />
  <package id="Avalonia.Angle.Windows.Natives" version="2.1.0.2023020321" targetFramework="net461" />
  <package id="Avalonia.BuildServices" version="0.0.29" targetFramework="net461" />
  <package id="Avalonia.Desktop" version="11.0.5" targetFramework="net461" />
  <package id="Avalonia.FreeDesktop" version="11.0.5" targetFramework="net461" />
  <package id="Avalonia.Native" version="11.0.5" targetFramework="net461" />
  <package id="Avalonia.Remote.Protocol" version="11.0.5" targetFramework="net461" />
  <package id="Avalonia.Skia" version="11.0.5" targetFramework="net461" />
  <package id="Avalonia.Win32" version="11.0.5" targetFramework="net461" />
  <package id="Avalonia.X11" version="11.0.5" targetFramework="net461" />
  <package id="DirectShowLib.Standard" version="2.1.0" targetFramework="net461" />
  <package id="HarfBuzzSharp" version="2.8.2.3" targetFramework="net461" />
  <package id="HarfBuzzSharp.NativeAssets.Linux" version="2.8.2.3" targetFramework="net461" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="2.8.2.3" targetFramework="net461" />
  <package id="HarfBuzzSharp.NativeAssets.WebAssembly" version="2.8.2.3" targetFramework="net461" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="2.8.2.3" targetFramework="net461" />
  <package id="MicroCom.Runtime" version="0.11.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net461" />
  <package id="Npgsql" version="7.0.4" targetFramework="net461" />
  <package id="Pipelines.Sockets.Unofficial" version="2.2.2" targetFramework="net461" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net461" />
  <package id="SkiaSharp.NativeAssets.Linux" version="2.88.6" targetFramework="net461" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.6" targetFramework="net461" />
  <package id="SkiaSharp.NativeAssets.WebAssembly" version="2.88.6" targetFramework="net461" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.6" targetFramework="net461" />
  <package id="SqlTableDependency" version="8.5.8" targetFramework="net461" />
  <package id="StackExchange.Redis" version="2.6.111" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Pipelines" version="6.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net461" />
  <package id="System.Text.Json" version="7.0.0" targetFramework="net461" />
  <package id="System.Threading.Channels" version="7.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Tmds.DBus.Protocol" version="0.15.0" targetFramework="net461" />
</packages>